<div class="container">
  <section class="navbar">
    <div class="navber__left">
      <div routerLink="/home" class="navbar__Logo">
        EIVOM
      </div>
      <div routerLink="/movies" class="navbar__browse-movie">Movies</div>
      <div class="navbar__about">About</div>
      <div class="navbar__contact">Contact us</div>
    </div>
    <div class="navber__right">
      <label for="searchModal-toggle" class="search-modal__btn-open">
        <input type="checkbox" name="search-modal_input" id="searchModal-open" class="search-modal__checkbox" />
      </label>
      <div class="navbar__search-movie">
        Search
      </div>

      <div class="search-modal">
        <input type="checkbox" name="search-modal_input" id="searchModal-toggle" class="search-modal__checkbox" />
        <label for="searchModal-toggle" class="search-modal__button">
          <input type="checkbox" name="search-modal_input" id="searchModal-toggle" class="search-modal__checkbox" />
          <span class="search-modal__button-icon">&nbsp;</span>
        </label>
        <div class="search-modal__container">
          <div class="search-modal__form-group">
            <input #searchInput (keyup.enter)="onEnter(searchInput.value)" type="text" placeholder="Search..." class="search-modal__input-text"
            />
          </div>
          <div class="search-modal__event-gallary">
            <a href="/movies/{{movie.id}}" *ngFor="let movie of movieList" class="search-modal__movie-group">
              <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt="movie poster" class="search-modal__movie-image">
              <div class="search-modal__movie-title-container">
                <p class="search-modal__movie-title">{{movie?.title}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>


      <div class="navigation">
        <input type="checkbox" name="navigation_input" id="nav-toggle" class="navigation__checkbox">
        <label for="nav-toggle" class="navigation__button">
          <span class="navigation__button-icon">&nbsp;</span>
        </label>

        <div class="navigation__background">
          &nbsp;
        </div>

        <div class="navigation__nav">

          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="/movies" class="navigation__link">
                Movies
              </a>
            </li>
            <li class="navigation__item">

              <a href="/home" class="navigation__link">

                About </a>
            </li>
            <li class="navigation__item">

              <a href="/home" class="navigation__link">
                Contact us
              </a>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
  <footer class="footer">
    <div class="footer__container">

      <div class="footer__navigation-links">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">company </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">contact us </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">privacy policy </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">terms </a>
          </li>
        </ul>
      </div>

      <div class="footer__logo-container">
        <p class="footer__logo">Eivom</p>
      </div>

      <div class="footer__right">
        <div class="footer__right-content">
          Tosmak 2018
        </div>
      </div>
    </div>

  </footer>
</div>
