<section class="header">
  <h2 class="header__title">
    Eivom: Find out about movies
  </h2>
  <p class="header__content-text">
    If you're wondering what movie or TV show you should watch next, use the Eivom below. Create a free account.
  </p>

  <a href="#" class="header__content-link">View more</a>
</section>

<section class="feature-movies">
  <div class="feature-movies__gallery">
    <div *ngFor='let movie of movieList'>
      <app-card [movie]='movie'></app-card>
    </div>
  </div>
</section>
