.feature-movies__gallery {
  display: grid;
  grid-template-columns: repeat(auto, minmax( auto, 35rem));
  justify-content: center;
  margin-top: 5rem;
  grid-gap: 1rem;
}

.header {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  justify-items: center;
  grid-row-gap: 2rem;
}

.header__title {
  font-size: 5rem;
  font-weight: 400;
}

.header__content-text {
  font-size: 2rem;
  font-weight: 700;
}

.header__content-link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #777;
  max-width: 20rem;
  text-align: center;
}

.feature-movies__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( auto, 35rem));
  justify-content: center;
  margin: 5rem 4rem;
  grid-gap: 1rem;
}
